html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  color: #222;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
}

.stepper {
  width: 100%;
  height: 100%;
}

.stepper-container {
  min-height: 40%;
  width: 40%;
  
  background-color: #ddd;

  border-radius: 2.5em;

  padding: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;

  height: 3em;
  margin: 1em;
}

.button {
  width: 6em;
  height: 3em;

  border: none;
  border-radius: 0.5em;

  color: #222;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
}
.button:focus {
  outline: none;
}

.disabled {
  visibility: hidden;
}

.back {
  background-color: #bbb;
}
.back:hover {
  background-color: rgb(192, 192, 192);
}
.back:active {
  background-color: rgb(175, 175, 175);
}

.next {
  background-color: rgb(119, 202, 72);
}
.next:hover {
  background-color: rgb(123, 206, 75);
}
.next:active {
  background-color: rgb(114, 189, 70);
}

.step {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;

  width: 100%;
  margin: 1em;
}

.step form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;

  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;  
}

.step .title {
  margin-top: 1em;
  font-size: 2em;
}

.step .answer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  margin-top: 1em;
}

.step .answer p {
  margin-left: 1em;
}

.step .result {
  margin-top: 0.5em;
}
.step .result h1 {
  margin-bottom: 1em;
}
.step .result p {
  margin-top: 0.5em;
}

