body {
  margin: 0;
  padding: 0;

  background-color: #212424;

  color: #cfcfcf;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
  font-size: 14px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
